body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #121112;
    

}
nav {background-color: #dfe2ed}

nav a {color: #72024f;}

nav a:hover {background-color: #d647a9;}

nav {padding: 10px}

nav {margin-bottom: 30px}

a:link {color: #7d096d}

h1 {
    color: #6e0637; font-size: 14 em;
}

h2 {
    color: #b80056; font-size: 12 em;
}

