body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #121112;
    font-size: 2em;

}
nav {background-color: #dfe2ed}

nav a {color: #f046ba;}

nav a:hover {background-color: #ed91d0;}

nav {padding: 10px}

nav {margin-bottom: 30px}

a:link {color: #7d096d}

h1 {
    color: #ff3d98; font-size: 14 em;
}

h2 {
    color: #ff3d98; font-size: 12 em;
}

