
.end {
  border: 3px mintcream;
  margin: 0px;
  padding: 10px;
  background-color: #9fffdf;
  color: rgb(6, 1, 75);
  flex: wrap;
  text-align: center;
}
footer {
  border: 3px mistyrose;
  margin: 0px;
  padding: 3px;
  background-color: #f5f5f8;
  color: rgb(0, 0, 0);
  flex: wrap;
  text-align: center;
}
