body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #121112;

}
nav {background-color: #dfe2ed}

nav a {color: #f046ba;}

nav a:hover {background-color: #ed91d0;}

nav {padding: 10px}

nav {margin-bottom: 30px}

a:link {color: #32a2a8}

h1 {
    color: fuchsia; font-size: 14 em;
}

h2 {
    color: fuchsia; font-size: 12 em;
}


table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #ffa1fd;}